{% extends "base.html" %}
{% load static %}
{% block pageTitle %}Home //{% endblock pageTitle %}
{% block styles %}
<!-- <style>
    .jumbotron {
        color: red;
    }
</style> -->
{% endblock styles %}
{% block jquery %}
{% endblock jquery %}


{% block jumbotron %}

<!-- NOTE TO SELF:
    The jumbotron is now inside the block,
    putting the block tag in another .html page
    will bring this over -->

<div class="container">
    <div class="jumbotron">
        <h1>Hello {{ username_is }}</h1>
        <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you
            scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary" href="/docs/4.5/components/navbar/" role="button">View navbar docs
            &raquo;</a>
    </div>
</div>


{% endblock jumbotron %}

{% block content %}

<div class="row">
    {% for product in products  %}



    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">

            {% if product.productimage_set.all %}


            {% for item in product.productimage_set.all %}
            {% if item.thumbnail %}
            <img class="img-responsive" src="{{ MEDIA_URL }}{{ item.image }}">
            {% endif %}
            {% endfor %}
            {% else %}
            <img class="img-responsive" src="{% static 'images/placeholder.svg' %}">
            {% endif %}
            <div class="card-body">
                <a href="{{ product.get_absolute_url }}">
                    <h5 class="card-title">{{ product.title }}</h5>
                </a>
                <p class="card-text">{{ product.description }}</p>
                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">View</a>
            </div>
        </div>



        <a href="{{ product.get_absolute_url}}">{{ product.title }}</a>
        {{ product.price }}.
    </div>
    {% endfor %}
</div>
{% endblock content %}